body{
 	font-size: 16pt;
 	margin: 0;
 	box-sizing: border-box;
 }

header nav ul , footer{
	list-style: none;
	background-color: #484b4d;
	margin: 0;
	text-align: right;
	

}

header nav ul li a {
	text-decoration: none;
	color:#ffffff;

}

header nav ul li {
	display:inline-block;
	
	margin-right: 10px;
	padding: 7px;

}

footer div{
	padding: 5px;
	color: #ffffff;
}

.mypic{
	
	text-align: center;
	color: #0077c5;
}

.mypic img{
	width: 25;
	border: 1px solid #000000;
	border-radius: 10%;
	max-width: 15%;
	max-height:15%;
}



/* cpntact page */

.contact-form , .social-media{
	position: relative;
	float: left;
	width: 45%;
	margin-left: 2%;
	margin-top: 2%;
	border:1px solid black;
	padding: 10px;
	border-radius: 2px;

}

.contact-form *, .social-media *{
	margin-bottom: 10px;
	width: 100%;
}

footer{
	position: fixed;
	width: 100%;
	bottom: 0;
}


.social-media a{
	text-decoration: none;
	color:#000000;
	display: block;

}

.social-media i{
	display: inline;
	margin-right: 5px;
}

.contact-form h3, .social-media h3 , .gallery h1{
	text-align:  center;
}


.contact-form input[type="submit"]{
	width: 80px;
	display: block;
	margin: 0 auto;
	background-color: #0184ff;
	color: #ffffff;
	border-radius: 2px;
	border:0;
}


.contact-form input[type="submit"]:hover{
	opacity:0.5;
	color:#fafafa;
	background-color: black;
}



.gallery figure img{
	width: 250px;
	height: 250px;
	border:1px solid black;
}




.gallery figure{
	position: relative;
	float:left;
}